.vscode
.python-version
Pipfile.lock
**/__pycache__
**/*.ipynb_checkpoints
**/*.egg-info
**/*.virtual_documents

**/*.csv
**/*.pkl

src/*/build
src/*/pyproject.toml

resources/outputs/*
!resources/outputs/.gitkeep

resources/ouputs/displacy/*
!resources/outputs/displacy/.gitkeep

resources/ouputs/metrics/*
!resources/ouputs/metrics/.gitkeep

resources/dataset/*
!resources/dataset/.gitkeep

resources/datasets/unified/*
!resources/datasets/unified/.gitkeep

resources/datasets/docbin/*
!resources/datasets/docbin/.gitkeep

src/ia2/ia2/models/*
!models/.gitkeep

src/ia2/ia2/logs/*
!logs/.gitkeep

src/ia2/ia2/deploy/*
!deploy/.gitkeep