.vscode
.python-version
Pipfile.lock
**/__pycache__
**/*.ipynb_checkpoints
**/*.egg-info
**/*.virtual_documents

**/*.csv
**/*.pkl

src/*/build
src/*/pyproject.toml

resources/outputs/*
!resources/outputs/.gitkeep

resources/dataset/*
!resources/dataset/.gitkeep