.vscode
.python-version
Pipfile.lock
**/__pycache__
**/*.ipynb_checkpoints
**/*.egg-info
**/*.virtual_documents

**/*.csv
**/*.pkl

src/*/build
src/*/pyproject.toml

resources/outputs/*
!resources/outputs/.gitkeep

resources/dataset/*
resources/datasets/unified/*
!resources/dataset/.gitkeep

src/ia2/ia2/models/*
!models/.gitkeep

src/ia2/ia2/logs/*
!logs/.gitkeep